<div class="c-page-content">
  <div class="u-t-align--center u-margin--vertical-1em">使用者登入</div>
  <div class="u-t-align--center">
      <span class="c-tab c-tab--active">發行公司．股務代理機構</span>
  </div>
  <div class="c-form">
      <div class="c-form__tr">
          <div class="c-form__th">單位代號：</div>
          <div class="c-form__td">
              <input class="u-width--70" type="text" name="unitCode">
          </div>
      </div>
      <div class="c-form__tr">
          <div class="c-form__th">憑證種類：</div>
          <div class="c-form__td">
              <select class="u-width--70">
                  <option>請選擇</option>
              </select>
          </div>
      </div>
      <div class="c-form__tr">
          <div class="c-form__th">使用者帳號：</div>
          <div class="c-form__td">
              <input class="u-width--70" type="text" name="userAccount">
          </div>
      </div>
      <div class="c-form__tr">
          <div class="c-form__th">使用者密碼：</div>
          <div class="c-form__td">
              <input class="u-width--70" type="text" name="userPwd">
          </div>
      </div>
      <div class="c-form__tr u-t-align--center u-margin--vertical-1em">
          <button class="c-button" (click)="doLogin()">登入</button>
      </div>
  </div>
  <div class="u-t-align--center u-margin--vertical-1em">
      <button class="c-button">資料下載</button>
  </div>
</div>
