.c-welcome {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 2em;
}

@media screen and (min-width: 981px) {
	.c-header__alt-title {
		display: none;
	}
}

@media screen and (max-width: 980px) {
	header {
		text-align: center;
	}

	header > .c-logo, header > .c-welcome {
		display: none;
	}

	.c-header__alt-title {
		display: inline-block;
	  line-height: 30px;
	  vertical-align: middle;
	}
}
