.c-news {
	border: 1px solid gray;
	/* width: 100%; */
	padding: 1em;
}

.c-news-left {
	width: 20%;
	display: inline-block;
	text-align: center;
}

.c-news-show {
	width: 80%;
	display: inline-block;
}

.c-category {
	border: 1px solid gray;
}

.c-category ul {
	text-align: center;
}

.c-category-item {
	display: inline-block;
	/*width: 20%;*/
	margin: 2em;
}

.c-rookie {
	width: 100%;
	text-align: center;
}

.c-rookie ul {
  padding: 0;
  margin: 0;
}

.c-rookie li {
	display: inline-block;
	width: 50%;
	background-color: lightgreen;
}

.c-rookie li a {
  display: block;
  padding: 1em;
  border: 1px solid gray;
}

.c-rookie li:hover {
	background-color: lightblue;
}

.c-rookie-right {
	/* float: right; */
}

.c-data {
	padding: 1em;
	border: 1px solid gray;
}

.c-data-title {
	width: 10%;
	border: 1px solid gray;
	background-color: lightgray;
	padding: 0.5em;
}

.c-data-content {
	border: 1px solid gray;
}

.c-data-search-item {
	display: inline-block;
	margin: 0.5em;
}

.c-data-search-title {
  display: inline-block;
  margin: 1em;
}

.c-data-search-content {
	display: inline-block;
}

.c-data-inform-title {
	background-color: #66cdaa;
	border: 1px solid gray;
}

.c-data-inform-title li{
	display: inline-block;
	width: 18%;
}

.c-data-inform-content ul{
	margin: 0px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	padding-top: 1em;
	padding-bottom: 1em;

}

.c-data-inform-content li{
	display: inline-block;
	width: 18%;
}

.c-otherlink {
	text-align: center;
	border: 1px solid gray;
}

.c-otherlink-img {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

.c-otherlink-img li{
	display: inline-block;
	width: 30%;
	margin-bottom: 10px;
}

.c-otherlink img {
	width: 150px;
}

.c-otherlink-text {
	display: inline-block;
	width: 25%;
	border: 1px solid gray;
	margin-top: 1em;
	margin-bottom: 2em;
}

.c-otherlink-text ul {
	padding: 0;
}

.c-otherlink-text li:hover {
	background-color: yellow;
}



@media screen and (max-width: 980px) {

	.c-category ul {
		padding: 0;
	}

	.c-category-item {
		display: block;
	}

	.c-rookie li {
		display: block;
		width: 100%;
	}

	.c-data {
		border: 0;
		/* margin-top: 4em; */
	}

	.c-data-title {
		width: 30%;
	}

	.c-data-content {
		border: 0;
	}

	.c-data-inform-title li {
		width: 50%;
	}

	.c-data-inform-content ul {
		margin-top: 10px;
		border: 1px solid gray;
	}

	.c-data-inform-content li {
		width: 50%;
	}

	.c-otherlink-img {
		display: block;
		width: 100%;
	}

	.c-otherlink-img li {
		width: 40%;
	}

	.c-otherlink-text {
		width: 50%;
	}

}
