<header>
  <div class="c-logo">
      <a href="index.html"><img src="assets/images/icon_googleplay.svg"></a>
  </div>
  <nav>
      <ul>
          <li class="c-nav-li"><a href="index.html">| 首頁</a></li>
          <li class="c-nav-li">| 關於我們</li>
          <li class="c-nav-li">| 活動消息</li>
          <li class="c-nav-li">| Q & A</li>
          <li class="c-nav-li"><a href="login.html">| 登入 |</a></li>
      </ul>
  </nav>
  <div class="c-menu">
      <img (click)="doMenu()" src="assets/images/btn_menu.svg">
  </div>
  <div class="c-menu-list">
      <ul>
          <li class="c-menu-li"><a href="index.html">首頁</a></li>
          <li class="c-menu-li">關於我們</li>
          <li class="c-menu-li">活動消息</li>
          <li class="c-menu-li">Q & A</li>
          <li class="c-menu-li"><a href="login.html">登入</a></li>
      </ul>
  </div>
  <input type="hidden" name="" id="isMenuOpen">
</header>
